<!-- app/apps/core/templates/core/mapa.html -->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <style>
        #map { height: 600px; width: 100%; }
    </style>
</head>
<body>
    <h1>{{ finca.nombre }}</h1>
    <div id="map"></div>
    <script>
        var map = L.map('map').setView([{{ finca.latitud }}, {{ finca.longitud }}], 14);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
        
        // Punto de la finca
        L.marker([{{ finca.latitud }}, {{ finca.longitud }}])
            .addTo(map)
            .bindPopup('{{ finca.nombre }}');
        
        // Potreros
        {% for potrero in potreros %}
            L.marker([{{ potrero.latitud }}, {{ potrero.longitud }}])
                .addTo(map)
                .bindPopup('{{ potrero.nombre }}');
        {% endfor %}
    </script>
</body>
</html>